:root { 
--green_300:#85c196; 
--black_900_7f:#0000007f; 
--blue_700:#1976d2; 
--amber_500:#ffc107; 
--green_800:#038929; 
--amber_A400:#f4cd00; 
--green_500:#4caf50; 
--teal_200:#72d1cc; 
--cyan_300:#5ed5cf; 
--black_900:#000000; 
--blue_gray_900_a5:#333333a5; 
--cyan_100_7f:#bcf6f37f; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
--deep_orange_A400:#ff3d00; 
--black_900_38:#00000038; 
}