@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  margin: 0;
  padding:0;
}
main .signin{
  background: rgba(188, 246, 243, 0.50);
}
.input{
  border-radius: 12px;
  border: 1.4px solid rgba(0, 0, 0, 0.22);


}
.input:focus-within{
  border: 2px solid rgba(0, 0, 0, 0.50);
}
.cardi{
  box-shadow: 12px 12px 68px 0px rgba(0, 0, 0, 0.20)
}
.paymentbg{
  background-size: 100%;
}
nav .nav:hover{
  background-color: rgba(4, 137, 41, 0.2);
}
footer a, footer .maj{
  padding: 10px 8px;
}
footer a:hover, footer .maj:hover{
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}
.button:hover{
  background: rgb(3, 97, 31);
}
footer h4{
  font-size: 25px;
  font-weight: 600;
}
footer p{
  font-size: 12px;
}

.ig:hover{
  content: url("assets/ig.svg");
}
.in:hover{
  content: url("assets/in.svg");
}
.fb:hover{
  content: url("assets/fb.svg");
}
.yt:hover{
  content: url("assets/yt.svg");
}
.twit:hover{
  content: url("assets/twitt.svg");
}